*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Khumh sans' sans-serif;
    scroll-behavior: smooth;
  }
  .navbar{
    background: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  #navbar_logo{
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 28px;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
  }
  .navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
  }
  .navbar_item{
    height: 80px;
  }
  .navbar_links{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    float: right;
    margin: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 12px;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
  }
  .navbar_links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
  }
  #navbar_logo:hover{
    color: red;
    transition: all 0.3s ease;
  }
@media screen and(max-width: 960px){
  .navbar_container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }
  .navbar_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar_menu.active{
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  .navbar_item{
    width: 100%;
    width: 100%;
    display: table;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%,20%);
  }
}
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .word {
    float: left;
    width: 30%;
    height: 300px; 
    background: #ccc;
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
  }
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .header1{
    width: 50%;
    color:black;
    background-color: none;
    position: absolute;
    top: 22%;
    left: 25%;  
}
img{
    margin-left: 0%;
    width: 100%;
    height: 330px;
  
    
}
.text{
  margin-left: 50%;
}
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 340px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
  text-align: center;
}


main{
  background: rgb(35, 23, 66);
  height: 8vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.add{
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
  }